.number-count {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  padding: 20px;
}
.i {
  font-size: 25px;
  font-weight: bolder;
}
.star {
  color: gold;
}
.client-says {
  text-align: center;
  margin-top: 150px;
  background-color: lightgray;
  padding: 20px;
}
.slider {
  text-align: center;
}
.slider div > * {
  margin-bottom: 20px;
}
.slider img {
  width: 300px;
  height: 300px;
  margin: auto;
}
.slider p {
  width: 500px;
  margin: auto;
}
