.cards {
  display: flex;
  margin-bottom: 100px;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  text-align: center;
  width: 24%;
  padding: 10px;
}
.card > * {
  margin-bottom: 22px;
}
.card img {
  width: 100%;
}
.card h4 {
  color: gray;
}
.card .star-icon {
  display: flex;
  gap: 30px;
}
.card .star-icon span {
  color: gray;
}
.card .star-icon div {
  display: flex;
  gap: 5px;
}
.card .star-icon .star {
  color: gold;
}
